body {
    text-align: center;
    background-color: #E68B58;
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    margin-left: 80px;
    width: 500px; /* Adjust the width as needed */
}

h1 {
    color: white;
    font-family: Montserrat;
    font-size: 1.5em;
    margin: 20px 0;
}

p {
    color: white;
    font-family: Montserrat;
    font-size: 1.2em;
    margin: 20px 0;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    margin: 0px;
    padding: 5px;
    border: none;
    border-radius: 0px;
    font-family: Shanti;
    font-size: 1.3em;
    text-align: center;
}

input[type="submit"] {
    width: 150px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 0px;
    font-family: Shanti;
    font-size: 1.3em;
    text-align: center;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Change the color on hover as desired */
}
